In [2]:
import pandas as pd
import json

with open('api.le-systeme-solaire.net.json') as f:
    data = json.load(f)

df = pd.DataFrame(data)
print(df)

                                                bodies
0    {'id': 'lune', 'name': 'La Lune', 'englishName...
1    {'id': 'phobos', 'name': 'Phobos', 'englishNam...
2    {'id': 'deimos', 'name': 'Deïmos', 'englishNam...
3    {'id': 'io', 'name': 'Io', 'englishName': 'Io'...
4    {'id': 'europe', 'name': 'Europe', 'englishNam...
..                                                 ...
282  {'id': 's2004s37', 'name': 'S/2004 S 37', 'eng...
283  {'id': 's2004s38', 'name': 'S/2004 S 38', 'eng...
284  {'id': 's2004s39', 'name': 'S/2004 S 39', 'eng...
285  {'id': 'c2020f3-neowise', 'name': 'C/2020 F3 (...
286  {'id': 's2003j24', 'name': 'S/2003 J 24', 'eng...

[287 rows x 1 columns]

In [3]:
df.columns

Index(['bodies'], dtype='object')

In [4]:
df['bodies']

0      {'id': 'lune', 'name': 'La Lune', 'englishName...
1      {'id': 'phobos', 'name': 'Phobos', 'englishNam...
2      {'id': 'deimos', 'name': 'Deïmos', 'englishNam...
3      {'id': 'io', 'name': 'Io', 'englishName': 'Io'...
4      {'id': 'europe', 'name': 'Europe', 'englishNam...
                             ...
282    {'id': 's2004s37', 'name': 'S/2004 S 37', 'eng...
283    {'id': 's2004s38', 'name': 'S/2004 S 38', 'eng...
284    {'id': 's2004s39', 'name': 'S/2004 S 39', 'eng...
285    {'id': 'c2020f3-neowise', 'name': 'C/2020 F3 (...
286    {'id': 's2003j24', 'name': 'S/2003 J 24', 'eng...
Name: bodies, Length: 287, dtype: object

In [6]:
df['bodies'][0]['name']

'La Lune'

In [7]:
# Flatten data
df_bodies = pd.json_normalize(data, record_path =['bodies'])
df_bodies

,id,name,englishName,isPlanet,moons,semimajorAxis,perihelion,aphelion,eccentricity,inclination,...,rel,mass.massValue,mass.massExponent,vol.volValue,vol.volExponent,aroundPlanet.planet,aroundPlanet.rel,vol,mass,aroundPlanet
0,lune,La Lune,Moon,False,None,384400,363300,405500,0.05490,5.145,...,https://api.le-systeme-solaire.net/rest/bodies...,7.3460,22.0,2.19680,10.0,terre,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
1,phobos,Phobos,Phobos,False,None,9378,9234,9518,0.01510,1.075,...,https://api.le-systeme-solaire.net/rest/bodies...,1.0600,16.0,5.78361,3.0,mars,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
2,deimos,Deïmos,Deimos,False,None,23459,23456,23471,0.00020,1.075,...,https://api.le-systeme-solaire.net/rest/bodies...,1.4762,15.0,9.99780,3.0,mars,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
3,io,Io,Io,False,None,421800,420071,423529,0.00400,0.036,...,https://api.le-systeme-solaire.net/rest/bodies/io,8.9320,22.0,NaN,NaN,jupiter,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
4,europe,Europe,Europa,False,None,671100,0,0,0.00900,0.466,...,https://api.le-systeme-solaire.net/rest/bodies...,4.8000,22.0,NaN,NaN,jupiter,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,s2004s37,S/2004 S 37,S/2004 S 37,False,None,16003300,0,0,0.50600,164.000,...,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN,NaN,saturne,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
283,s2004s38,S/2004 S 38,S/2004 S 38,False,None,23006200,0,0,0.38100,155.000,...,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN,NaN,saturne,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
284,s2004s39,S/2004 S 39,S/2004 S 39,False,None,22790400,0,0,0.08100,167.600,...,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN,NaN,saturne,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
285,c2020f3-neowise,C/2020 F3 (NEOWISE),C/2020 F3 (NEOWISE),False,None,40690620830,0,0,0.99921,128.930,...,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286,s2003j24,S/2003 J 24,S/2003 J 24,False,None,23088000,0,0,0.25000,0.000,...,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN,NaN,jupiter,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN

In [8]:
bodies_names = df_bodies['name']
bodies_names

0                  La Lune
1                   Phobos
2                   Deïmos
3                       Io
4                   Europe
              ...
282            S/2004 S 37
283            S/2004 S 38
284            S/2004 S 39
285    C/2020 F3 (NEOWISE)
286            S/2003 J 24
Name: name, Length: 287, dtype: object