In [1]:
import pandas as pd

In [3]:
simpsons = pd.read_html('https://en.wikipedia.org/wiki/List_of_The_Simpsons_episodes_(seasons_1%E2%80%9320)')

In [4]:
len(simpsons)

23

In [6]:
starwars = pd.read_html('https://en.wikipedia.org/wiki/List_of_Star_Wars_films')

In [7]:
len(starwars)

20

In [15]:
starwars[7]

                            Film    US release date Box office gross  \
                            Film    US release date    US and Canada
                  Skywalker Saga     Skywalker Saga   Skywalker Saga
0                     A New Hope       May 25, 1977     $460,998,507
1        The Empire Strikes Back       May 21, 1980     $292,753,960
2             Return of the Jedi       May 25, 1983     $309,306,177
3             The Phantom Menace       May 19, 1999     $474,544,677
4           Attack of the Clones       May 16, 2002     $310,676,740
5            Revenge of the Sith       May 19, 2005     $380,270,577
6              The Force Awakens  December 18, 2015     $936,662,225
7                  The Last Jedi  December 15, 2017     $620,181,382
8          The Rise of Skywalker  December 20, 2019     $515,202,542
9                 Spin-off films     Spin-off films   Spin-off films
10                The Clone Wars    August 15, 2008      $35,161,554
11  Rogue One: A Star Wars Story  December 16, 2016     $533,539,991
12       Solo: A Star Wars Story       May 25, 2018     $213,767,512
13                         Total              Total   $5,083,065,844

                                      All-time ranking                  \
   Other territories        Worldwide    US and Canada       Worldwide
      Skywalker Saga   Skywalker Saga   Skywalker Saga  Skywalker Saga
0       $195,751,992     $775,398,007               19              98
1       $190,685,234     $538,375,067               98             182
2       $122,009,457     $475,106,177               82             231
3       $552,538,030   $1,027,082,707               18              42
4       $343,103,230     $653,779,970               80             140
5       $488,119,983     $868,390,560               44              78
6     $1,134,647,993   $2,071,310,218                1               4
7       $714,226,324   $1,334,407,706                9              12
8       $561,819,830   $1,077,022,372               14              32
9     Spin-off films   Spin-off films   Spin-off films  Spin-off films
10       $33,121,290      $68,282,844             2447            2211
11      $525,142,151   $1,058,682,142               12              36
12      $179,157,295     $392,924,807              189             311
13    $5,040,322,809  $10,340,762,577                2               2

                   Budget            Ref.
                   Budget            Ref.
           Skywalker Saga  Skywalker Saga
0             $11 million            [90]
1             $18 million            [91]
2           $32.5 million            [92]
3            $115 million            [93]
4            $115 million            [94]
5            $113 million            [95]
6            $446 million            [96]
7            $317 million            [97]
8            $416 million            [98]
9          Spin-off films  Spin-off films
10           $8.5 million            [99]
11       $200â€“265 million      [100][101]
12           $300 million      [102][103]
13  $2.092-$2.157 billion       [104][87]