In [1]:
#bases de python

In [2]:
#LISTS

In [71]:
mylist = ["banana","cherry","apple","banana",2, True]
print(mylist)

['banana', 'cherry', 'apple', 'banana', 2, True]

In [72]:
print("\nlist vide")
mylist2 = list()
print(mylist2)

list vide
[]

In [73]:
print("\nindex")
item = mylist[0]
print(item)
item1 = mylist[-4]
print(item1)

index
banana
apple

In [74]:
print("\nloop")
for i in mylist:
    print(i)

loop
banana
cherry
apple
banana
2
True

In [75]:
print("\ncheck exist")
if "banana" in mylist:
    print("yes")
else:
    print("no")

check exist
yes

In [76]:
print("\nlongueur")
print(len(mylist))

longueur
6

In [77]:
print("\n ajout element")
mylist.append("lemon")
print(mylist)

 ajout element
['banana', 'cherry', 'apple', 'banana', 2, True, 'lemon']

In [78]:
print("\ninsertion 1 element")
mylist.insert(1, "blueberry")
print(mylist)

insertion 1 element
['banana', 'blueberry', 'cherry', 'apple', 'banana', 2, True, 'lemon']

In [79]:
mylist = ["banana","cherry","apple","banana",2, True]
print(mylist)
print("\nremove last element")
mylist.pop()
print(mylist)

print("\nremove 1 element")
mylist.remove("cherry")
print(mylist)

print("\nremove all")
#item = mylist.clear()
#print(item)   #return None
#print(mylist) "return empty list []"

['banana', 'cherry', 'apple', 'banana', 2, True]

remove last element
['banana', 'cherry', 'apple', 'banana', 2]

remove 1 element
['banana', 'apple', 'banana', 2]

remove all

In [80]:
print("\nsort")
mylist1 = [4, 3 ,7, 5, 0,-2, -5, -10, 10, 2, 1] 
item = mylist1.sort()
print(item)
print(mylist1)

print("\nsorted")
mylist1 = [4, 3 ,7, 5, 0,-2, -5, -10, 10, 2, 1] 
newlist = sorted(mylist1)
print("new",newlist)
print("old",mylist1)

sort
None
[-10, -5, -2, 0, 1, 2, 3, 4, 5, 7, 10]

sorted
new [-10, -5, -2, 0, 1, 2, 3, 4, 5, 7, 10]
old [4, 3, 7, 5, 0, -2, -5, -10, 10, 2, 1]

In [81]:
print("\ncreate new list")
mylist = [0]*5
print(mylist)

print("\nconcat list")
mylist2 = [1, 2, 3, 4, 5, 6]
newlist = mylist + mylist2
print(newlist)

create new list
[0, 0, 0, 0, 0]

concat list
[0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6]

In [82]:
print("\nslice")
mylist = [1, 2, 3, 4 ,5 ,6 ,7, 8, 9, 10]
a = mylist[1:5]
print("mylist:",mylist)
print("a:",a)

b = mylist[:5]
print("b:",b)

c = mylist[2:]
print("c:",c)

d = mylist[2::2]
print("d:",d)

e = mylist[::1]
print("e:",e)

f = mylist[::-1]
print("f:",f)

slice
mylist: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a: [2, 3, 4, 5]
b: [1, 2, 3, 4, 5]
c: [3, 4, 5, 6, 7, 8, 9, 10]
d: [3, 5, 7, 9]
e: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
f: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [83]:
print("\ncopy list")
list_org = ["banana","cherry","apple"]
list_cpy = list_org
print("list_org:",list_org,"  --  list_cpy:",list_cpy)

print("\n!!! modify the cpy also modify the org !!!")
list_cpy.append("lemon")
print("list_org:",list_org,"  --  list_cpy:",list_cpy)

print("\n use copy method")
list_org = ["banana","cherry","apple"]
list_cpy = list_org.copy()
list_cpy.append("lemon")
print("list_org:",list_org,"  --  list_cpy:",list_cpy)

print("\n use list function")
list_org = ["banana","cherry","apple"]
list_cpy = list(list_org)
list_cpy.append("lemon")
print("list_org:",list_org,"  --  list_cpy:",list_cpy)

print("\n use slice")
list_org = ["banana","cherry","apple"]
list_cpy = list_org[:]
list_cpy.append("lemon")
print("list_org:",list_org,"  --  list_cpy:",list_cpy)

copy list
list_org: ['banana', 'cherry', 'apple']   --  list_cpy: ['banana', 'cherry', 'apple']

!!! modify the cpy also modify the org !!!
list_org: ['banana', 'cherry', 'apple', 'lemon']   --  list_cpy: ['banana', 'cherry', 'apple', 'lemon']

 use copy method
list_org: ['banana', 'cherry', 'apple']   --  list_cpy: ['banana', 'cherry', 'apple', 'lemon']

 use list function
list_org: ['banana', 'cherry', 'apple']   --  list_cpy: ['banana', 'cherry', 'apple', 'lemon']

 use slice
list_org: ['banana', 'cherry', 'apple']   --  list_cpy: ['banana', 'cherry', 'apple', 'lemon']

In [84]:
print("\ncreate list with list comprehension")
mylist = [1, 2, 3, 4, 5, 6]
a = [i*i for i in mylist]
print("mylist:",mylist)
print("a:",a)

create list with list comprehension
mylist: [1, 2, 3, 4, 5, 6]
a: [1, 4, 9, 16, 25, 36]

In [85]:
#TUPLE

In [95]:
print("\navec parenthèse")
mytuple = ("Max", 28, "Boston")
print(mytuple)

print("\nsans parenthèse")
mytuple = "Max", 28, "Boston"
print(mytuple)

print("\nnon tuple ==> string")
mytuple = ("Max")
print(mytuple)

print("\ntuple")
mytuple = ("Max",)
print(mytuple)

print("\nfrom a list")
mytuple = tuple(["Max", 28, "Boston"])
print(mytuple)

mytuple = tuple(["Max"])
print(mytuple)

avec parenthèse
('Max', 28, 'Boston')

sans parenthèse
('Max', 28, 'Boston')

non tuple ==> string
Max

tuple
('Max',)

from a list
('Max', 28, 'Boston')
('Max',)

In [99]:
print("\naccess element of a tuple")
mytuple = tuple(["Max", 28, "Boston"])
print(mytuple)

item = mytuple[0]
print("index of 0:",item)

item = mytuple[1]
print("index of 1:",item)

item = mytuple[2]
print("index of 2:",item)

item = mytuple[-1]
print("index of -1:",item)

access element of a tuple
('Max', 28, 'Boston')
index of 0: Max
index of 1: 28
index of 2: Boston
index of -1: Boston

In [100]:
print("\nchange element in a tuple ==> impossible immutable")
mytuple = tuple(["Max", 28, "Boston"])
print(mytuple)

change element in a tuple ==> impossible immutable
('Max', 28, 'Boston')

In [102]:
print("\niterate")
mytuple = tuple(["Max", 28, "Boston"])
print(mytuple)

for i in mytuple:
    print(i)

iterate
('Max', 28, 'Boston')
Max
28
Boston

In [105]:
print("\nexist in tuple")
mytuple = tuple(["Max", 28, "Boston"])
print(mytuple)

if "max" in mytuple:
    print("yes")
else:
    print("no")

exist in tuple
('Max', 28, 'Boston')
no

In [115]:
print("\nlongueur ,comptage  et position d'un element du tuple")
mytuple = tuple(["a", "p", "p", "l","e"])
print(mytuple)
print("len:", len(mytuple))

print('nombre de a:',mytuple.count("a"))
print('nombre de p:',mytuple.count("p"))
print('nombre de l:',mytuple.count("l"))
print('nombre de e:',mytuple.count("e"))
print('nombre de o:',mytuple.count("o"))

print("position du 1er p:", mytuple.index('p'))

longueur ,comptage  et position d'un element du tuple
('a', 'p', 'p', 'l', 'e')
len: 5
nombre de a: 1
nombre de p: 2
nombre de l: 1
nombre de e: 1
nombre de o: 0
position du 1er p: 1

In [120]:
print("\nconversion tuple vers liste")
mytuple = tuple(["a", "p", "p", "l","e"])
print("tuple:",mytuple)

mylist = list(mytuple)
print("liste:", mylist)

mytupleb = tuple(mylist)
print("tupleb:", mytupleb)

conversion tuple vers liste
tuple: ('a', 'p', 'p', 'l', 'e')
liste: ['a', 'p', 'p', 'l', 'e']
tupleb: ('a', 'p', 'p', 'l', 'e')

In [123]:
print("\nslice")
mytuple = (1,2,3,4,5,6,7,8,9,10)
print("tuple:",mytuple)

b = mytuple[2:5]
print("b:", b)

slice
tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
b: (3, 4, 5)

In [128]:
print("\nunpack the tuple")
mytuple = tuple(["Max", 28, "Boston"])
print("tuple:",mytuple)

name, age,city = mytuple
print("name:",name)
print("age:",age)
print("city:",city)

mytuple = (0,1,2,3,4)
i1, *i2, i3 = mytuple
print("i1:", i1)
print("i3:", i3)
print("i2:", i2)

unpack the tuple
tuple: ('Max', 28, 'Boston')
name: Max
age: 28
city: Boston
i1: 0
i3: 4
i2: [1, 2, 3]

In [132]:
print("\ncompare tuple et list")
import sys
mylist = [0,1,2, "hello", True]
mytuple = (0,1,2, "hello", True)
print(sys.getsizeof(mylist), " bytes")
print(sys.getsizeof(mytuple), " bytes")

import timeit
print(timeit.timeit(stmt="[0,1,2,3,4,5]", number=1000000))
print(timeit.timeit(stmt="(0,1,2,3,4,5)", number=1000000))

compare tuple et list
104  bytes
80  bytes
0.03495472999929916
0.006131447000370827

In [133]:
#DICTIONARY

In [137]:
print("\ncreation du dictionary")
mydict = {"name":"Max","age":28, "city":"New York"}
print("mydict:",mydict)

mydict2 = dict(name="Mary", age=25, city="Boston")
print("mydict2:",mydict2)

creation du dictionary
mydict: {'name': 'Max', 'age': 28, 'city': 'New York'}
mydict2: {'name': 'Mary', 'age': 25, 'city': 'Boston'}

In [138]:
print("\naccess value")
value = mydict["name"]
print("value:", value)

access value
value: Max

In [139]:
print("\najouter une paire cle/valeur")
mydict["email"] = "max@xyz.com"
print("mydict:",mydict)

ajouter une paire cle/valeur
mydict: {'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'max@xyz.com'}

In [141]:
print("\nmodifier une valeur")
mydict["email"] = "coolmax@xyz.com"
print("mydict:",mydict)

modifier une valeur
mydict: {'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'coolmax@xyz.com'}

In [146]:
print("\neffacer une valeur")
mydict = {"name":"Max","age":28, "city":"New York"}
print("mydict:",mydict)

del mydict["name"]
print("mydict:",mydict)

mydict = {"name":"Max","age":28, "city":"New York"}
mydict.pop("age")
print("mydict:",mydict)

mydict = {"name":"Max","age":28, "city":"New York"}
mydict.popitem()#the last inserted
print("mydict:",mydict)

effacer une valeur
mydict: {'name': 'Max', 'age': 28, 'city': 'New York'}
mydict: {'age': 28, 'city': 'New York'}
mydict: {'name': 'Max', 'city': 'New York'}
mydict: {'name': 'Max', 'age': 28}

In [1]:
print("\ncheck si cle existe")
mydict = {"name":"Max","age":28, "city":"New York"}
print("mydict:",mydict)

if "name" in mydict:
    print(mydict["name"])
    
try:
    print(mydict["name"])
except:
    print("error")

check si cle existe
mydict: {'name': 'Max', 'age': 28, 'city': 'New York'}
Max
Max

In [2]:
print("\nBoucler sur un dictionary")
print("v1:")
for key in mydict:
    print(key)

print("\nV2")    
for key in mydict.keys():
    print(key)

print("\nV3")    
for value in mydict.values():
    print(value)

print("\nV4")    
for key, value in mydict.items():
    print(key, value)

Boucler sur un dictionary
v1:
name
age
city

V2
name
age
city

V3
Max
28
New York

V4
name Max
age 28
city New York

In [3]:
print("\ncopier un dictionary")

copier un dictionary

In [4]:
mydict_cpy = mydict
print(mydict)
print(mydict_cpy)

{'name': 'Max', 'age': 28, 'city': 'New York'}
{'name': 'Max', 'age': 28, 'city': 'New York'}

In [5]:
#modify the copy will also modifiy the original

In [6]:
mydict_cpy["email"]="max@xyz.com"
print(mydict)
print(mydict_cpy)

{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'max@xyz.com'}
{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'max@xyz.com'}

In [7]:
#to make an actual copy : façon 1:

In [10]:
mydict = {"name":"Max","age":28, "city":"New York"}
mydict_cpy = mydict.copy()
mydict_cpy["email"]="max@xyz.com"
print("mydict: ",mydict)
print("mydict_cpy: ",mydict_cpy)

mydict:  {'name': 'Max', 'age': 28, 'city': 'New York'}
mydict_cpy:  {'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'max@xyz.com'}

In [12]:
#to make an actual copy : façon 2:

In [13]:
mydict = {"name":"Max","age":28, "city":"New York"}
mydict_cpy = dict(mydict)
mydict_cpy["email"]="max@xyz.com"
print("mydict: ",mydict)
print("mydict_cpy: ",mydict_cpy)

mydict:  {'name': 'Max', 'age': 28, 'city': 'New York'}
mydict_cpy:  {'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'max@xyz.com'}

In [17]:
#Update dictionary

In [19]:
my_dict = {"name":"Max", "age":28, "email":"max@xyz.com"}
my_dict_2 = dict(name="Mary", age=27, city="Boston")

my_dict.update(my_dict_2)
print(my_dict)

{'name': 'Mary', 'age': 27, 'email': 'max@xyz.com', 'city': 'Boston'}

In [24]:
my_dict = {3: 9, 6: 36, 8: 64}
print(my_dict)

value = my_dict[3]
print(value)

mytuple = (8, 7)
mydict = {mytuple: 15}
print(mydict)

{3: 9, 6: 36, 8: 64}
9
{(8, 7): 15}

In [25]:
#SET

In [27]:
myset = {1, 2, 3}
print(myset)

myset = {1, 2, 3, 1, 2}
print(myset)

{1, 2, 3}
{1, 2, 3}

In [28]:
myset = set([1,2,3])
print(myset)

{1, 2, 3}

In [31]:
myset = set("hello")
print(myset)

{'e', 'l', 'h', 'o'}

In [32]:
#empty set
myset = set()
print(myset)

set()

In [33]:
#update a set

In [34]:
myset = set()
myset.add(1)
myset.add(2)
myset.add(3)
print(myset)

{1, 2, 3}

In [35]:
#remove element

In [37]:
print(myset)
myset.remove(2) #error si en dehots des index/key
print(myset)

{1, 2, 3}
{1, 3}

In [39]:
myset = {1, 2, 3}
print(myset)
myset.discard(2) #no error si en dehors des index/key
print(myset)

{1, 2, 3}
{1, 3}

In [40]:
#empty the set

In [41]:
myset = {1, 2, 3}
print(myset)
myset.clear() 
print(myset)

{1, 2, 3}
set()

In [43]:
myset = {1, 2, 3}
print(myset)
print(myset.pop())
print(myset)

{1, 2, 3}
1
{2, 3}

In [44]:
#iterate the set

In [46]:
myset = {1, 2, 3}
print(myset)

for i in myset:
    print(i)

{1, 2, 3}
1
2
3

In [47]:
#check if a element existe i, the set

In [48]:
myset = {1, 2, 3}
print(myset)

if 1 in myset:
    print("yes")
else:
    print("no")

{1, 2, 3}
yes

In [49]:
#UNION et INTERSECTION

In [58]:
odds = {1, 3, 5, 7, 9}
evens = {0, 2, 4, 6, 8}
primes = {2, 3, 5, 7, 11}

unions = odds.union(evens)
print("unions: ",unions)

intersections1 = odds.intersection(evens)
print("intersections1: ",intersections1)

intersections2 = odds.intersection(primes)
print("intersections2: ",intersections2)

intersections3 = evens.intersection(primes)
print("intersections3: ",intersections3)

unions:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
intersections1:  set()
intersections2:  {3, 5, 7}
intersections3:  {2}

In [59]:
#difference entre 2 sets

In [64]:
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}
print("setA: ", setA)
print("setB: ", setB)

diff1 = setA.difference(setB)
print("diff1: ", diff1)

diff2 = setB.difference(setA)
print("diff2: ", diff2)

diff3 = setB.symmetric_difference(setA)
print("diff3: ", diff3)

diff4 = setA.symmetric_difference(setB)
print("diff4: ", diff4)

setA:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB:  {1, 2, 3, 10, 11, 12}
diff1:  {4, 5, 6, 7, 8, 9}
diff2:  {10, 11, 12}
diff3:  {4, 5, 6, 7, 8, 9, 10, 11, 12}
diff4:  {4, 5, 6, 7, 8, 9, 10, 11, 12}

In [65]:
#modify set inplace

In [71]:
print("update:")
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}
print("setA: ", setA)
print("setB: ", setB)

setA.update(setB)
print("setA: ", setA)
print("setB: ", setB)

print("\nintersection_update:")
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}
print("setA: ", setA)
print("setB: ", setB)

setA.intersection_update(setB)
print("setA: ", setA)
print("setB: ", setB)

print("\ndifference_update:")
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}
print("setA: ", setA)
print("setB: ", setB)

setA.difference_update(setB)
print("setA: ", setA)
print("setB: ", setB)

print("\nsymmetric_difference_update:")
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}
print("setA: ", setA)
print("setB: ", setB)

setA.symmetric_difference_update(setB)
print("setA: ", setA)
print("setB: ", setB)

update:
setA:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB:  {1, 2, 3, 10, 11, 12}
setA:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
setB:  {1, 2, 3, 10, 11, 12}

intersection_update:
setA:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB:  {1, 2, 3, 10, 11, 12}
setA:  {1, 2, 3}
setB:  {1, 2, 3, 10, 11, 12}

difference_update:
setA:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB:  {1, 2, 3, 10, 11, 12}
setA:  {4, 5, 6, 7, 8, 9}
setB:  {1, 2, 3, 10, 11, 12}

symmetric_difference_update:
setA:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB:  {1, 2, 3, 10, 11, 12}
setA:  {4, 5, 6, 7, 8, 9, 10, 11, 12}
setB:  {1, 2, 3, 10, 11, 12}

In [72]:
#subset

In [77]:
setA = {1, 2, 3, 4, 5, 6}
setB = {1, 2, 3}
print("setA: ", setA)
print("setB: ", setB)

print("setA un subset de setB :",setA.issubset(setB))
print("setB un subset de setA :",setB.issubset(setA))

setA:  {1, 2, 3, 4, 5, 6}
setB:  {1, 2, 3}
setA un subset de setB : False
setB un subset de setA : True

In [78]:
#superset

In [79]:
setA = {1, 2, 3, 4, 5, 6}
setB = {1, 2, 3}
print("setA: ", setA)
print("setB: ", setB)

print("setA un superset de setB :",setA.issuperset(setB))
print("setB un superset de setA :",setB.issuperset(setA))

setA:  {1, 2, 3, 4, 5, 6}
setB:  {1, 2, 3}
setA un superset de setB : True
setB un superset de setA : False

In [84]:
#disjoint

In [85]:
setA = {1, 2, 3, 4, 5, 6}
setB = {1, 2, 3}
setC = {7, 8}
print("setA: ", setA)
print("setB: ", setB)
print("setC: ", setC)

print("setA est disjoint de setB :",setA.isdisjoint(setB))
print("setB est disjoint de setA :",setB.isdisjoint(setA))
print("setC est disjoint de setA :",setC.isdisjoint(setA))
print("setA est disjoint de setC :",setA.isdisjoint(setC))

setA:  {1, 2, 3, 4, 5, 6}
setB:  {1, 2, 3}
setC:  {8, 7}
setA est disjoint de setB : False
setB est disjoint de setA : False
setC est disjoint de setA : True
setA est disjoint de setC : True

In [86]:
#copy set

In [94]:
setA = {1, 2, 3, 4, 5, 6}
print("setA:", setA)

setB = setA
print("setA:", setA)
print("setB:", setB)

print("\nadd:")
setB.add(7)
print("setA:", setA)
print("setB:", setB)

print("\ncopy:")
setA = {1, 2, 3, 4, 5, 6}
setB = setA.copy()
print("setA:", setA)
print("setB:", setB)

setB.add(7)
print("setA:", setA)
print("setB:", setB)

setA: {1, 2, 3, 4, 5, 6}
setA: {1, 2, 3, 4, 5, 6}
setB: {1, 2, 3, 4, 5, 6}

add:
setA: {1, 2, 3, 4, 5, 6, 7}
setB: {1, 2, 3, 4, 5, 6, 7}

copy:
setA: {1, 2, 3, 4, 5, 6}
setB: {1, 2, 3, 4, 5, 6}
setA: {1, 2, 3, 4, 5, 6}
setB: {1, 2, 3, 4, 5, 6, 7}