In [ ]:
#PANDAS READ_HTML from a website

In [1]:
import pandas as pd

In [3]:
simpsons = pd.read_html('https://en.wikipedia.org/wiki/List_of_The_Simpsons_episodes_(seasons_1%E2%80%9320)')

In [4]:
len(simpsons)

23

In [6]:
starwars = pd.read_html('https://en.wikipedia.org/wiki/List_of_Star_Wars_films')

In [7]:
len(starwars)

20

In [15]:
starwars[7]

                            Film    US release date Box office gross  \
                            Film    US release date    US and Canada
                  Skywalker Saga     Skywalker Saga   Skywalker Saga
0                     A New Hope       May 25, 1977     $460,998,507
1        The Empire Strikes Back       May 21, 1980     $292,753,960
2             Return of the Jedi       May 25, 1983     $309,306,177
3             The Phantom Menace       May 19, 1999     $474,544,677
4           Attack of the Clones       May 16, 2002     $310,676,740
5            Revenge of the Sith       May 19, 2005     $380,270,577
6              The Force Awakens  December 18, 2015     $936,662,225
7                  The Last Jedi  December 15, 2017     $620,181,382
8          The Rise of Skywalker  December 20, 2019     $515,202,542
9                 Spin-off films     Spin-off films   Spin-off films
10                The Clone Wars    August 15, 2008      $35,161,554
11  Rogue One: A Star Wars Story  December 16, 2016     $533,539,991
12       Solo: A Star Wars Story       May 25, 2018     $213,767,512
13                         Total              Total   $5,083,065,844

                                      All-time ranking                  \
   Other territories        Worldwide    US and Canada       Worldwide
      Skywalker Saga   Skywalker Saga   Skywalker Saga  Skywalker Saga
0       $195,751,992     $775,398,007               19              98
1       $190,685,234     $538,375,067               98             182
2       $122,009,457     $475,106,177               82             231
3       $552,538,030   $1,027,082,707               18              42
4       $343,103,230     $653,779,970               80             140
5       $488,119,983     $868,390,560               44              78
6     $1,134,647,993   $2,071,310,218                1               4
7       $714,226,324   $1,334,407,706                9              12
8       $561,819,830   $1,077,022,372               14              32
9     Spin-off films   Spin-off films   Spin-off films  Spin-off films
10       $33,121,290      $68,282,844             2447            2211
11      $525,142,151   $1,058,682,142               12              36
12      $179,157,295     $392,924,807              189             311
13    $5,040,322,809  $10,340,762,577                2               2

                   Budget            Ref.
                   Budget            Ref.
           Skywalker Saga  Skywalker Saga
0             $11 million            [90]
1             $18 million            [91]
2           $32.5 million            [92]
3            $115 million            [93]
4            $115 million            [94]
5            $113 million            [95]
6            $446 million            [96]
7            $317 million            [97]
8            $416 million            [98]
9          Spin-off films  Spin-off films
10           $8.5 million            [99]
11       $200–265 million      [100][101]
12           $300 million      [102][103]
13  $2.092-$2.157 billion       [104][87]

In [1]:
#PANDAS READ_CSV from a website

In [4]:
import pandas as pd
pd.read_csv('https://fivethirtyeight.datasettes.com/fivethirtyeight/star-wars-survey~2FStarWars.csv?_size=max')

,rowid,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?æ,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,1,NaN,Response,Response,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,...,Yoda,Response,Response,Response,Response,Response,Response,Response,Response,Response
1,2,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3,3.292880e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,4,3.292765e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,5,3.292763e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,3.288683e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,...,Very favorably,Han,No,NaN,Yes,Female,30-44,"$50,000 - $99,999",Bachelor degree,New England
996,997,3.288679e+09,Yes,No,NaN,NaN,NaN,NaN,Star Wars: Episode V The Empire Strikes Back,NaN,...,Very favorably,I don't understand this question,No,NaN,No,Female,18-29,"$100,000 - $149,999",Some college or Associate degree,East North Central
997,998,3.288676e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,...,Very favorably,I don't understand this question,No,NaN,Yes,Female,18-29,NaN,Graduate degree,West South Central
998,999,3.288672e+09,Yes,No,Star Wars: Episode I The Phantom Menace,NaN,NaN,Star Wars: Episode IV A New Hope,NaN,Star Wars: Episode VI Return of the Jedi,...,Very favorably,Han,No,NaN,No,Female,18-29,"$50,000 - $99,999",Bachelor degree,Pacific
999,1000,3.288672e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,...,Very favorably,Han,No,NaN,No,Female,18-29,NaN,Some college or Associate degree,Pacific

In [6]:
csv_exo1 = pd.read_csv('https://raw.githubusercontent.com/InterImm/nasa-exoplanet-archive/master/dataset/confirmed_exoplanets.csv')

In [7]:
csv_exo1

,pl_hostname,pl_letter,pl_name,pl_discmethod,pl_controvflag,pl_pnum,pl_orbper,pl_orbpererr1,pl_orbpererr2,pl_orbperlim,...,st_mass,st_masserr1,st_masserr2,st_masslim,st_rad,st_raderr1,st_raderr2,st_radlim,rowupdate,pl_facility
0,11 Com,b,11 Com b,Radial Velocity,0,1,326.030000,0.320000,-0.320000,0.0,...,2.70,0.30,-0.30,0.0,19.00,2.00,-2.00,0.0,2014-05-14,Xinglong Station
1,11 UMi,b,11 UMi b,Radial Velocity,0,1,516.219970,3.200000,-3.200000,0.0,...,2.78,0.69,-0.69,0.0,29.79,2.84,-2.84,0.0,2018-09-06,Thueringer Landessternwarte Tautenburg
2,14 And,b,14 And b,Radial Velocity,0,1,185.840000,0.230000,-0.230000,0.0,...,2.20,0.10,-0.20,0.0,11.00,1.00,-1.00,0.0,2014-05-14,Okayama Astrophysical Observatory
3,14 Her,b,14 Her b,Radial Velocity,0,1,1773.400020,2.500000,-2.500000,0.0,...,0.90,0.04,-0.04,0.0,0.93,0.01,-0.01,0.0,2018-09-06,W. M. Keck Observatory
4,16 Cyg B,b,16 Cyg B b,Radial Velocity,0,1,798.500000,1.000000,-1.000000,0.0,...,1.08,0.04,-0.04,0.0,1.13,0.01,-0.01,0.0,2018-09-06,Multiple Observatories
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4121,tau Gem,b,tau Gem b,Radial Velocity,0,1,305.500000,0.100000,-0.100000,0.0,...,2.30,0.30,-0.30,0.0,26.80,0.70,-0.70,0.0,2014-05-14,Lick Observatory
4122,ups And,b,ups And b,Radial Velocity,0,3,4.617033,0.000023,-0.000023,0.0,...,1.30,NaN,NaN,0.0,1.56,NaN,NaN,0.0,2019-01-31,Lick Observatory
4123,ups And,c,ups And c,Radial Velocity,0,3,241.258000,0.064000,-0.064000,0.0,...,1.30,NaN,NaN,0.0,1.56,NaN,NaN,0.0,2019-01-31,Multiple Observatories
4124,ups And,d,ups And d,Radial Velocity,0,3,1276.460000,0.570000,-0.570000,0.0,...,1.30,NaN,NaN,0.0,1.56,NaN,NaN,0.0,2019-01-31,Multiple Observatories
4125,xi Aql,b,xi Aql b,Radial Velocity,0,1,136.750000,0.250000,-0.250000,0.0,...,2.20,NaN,NaN,0.0,12.00,NaN,NaN,0.0,2014-05-14,Okayama Astrophysical Observatory

In [60]:
#rename colonne
csv_exo2 = csv_exo1.rename(columns={'st_dist':'etoile_distance_pc',
                       'pl_hostname': 'etoile_nom',
                        'pl_name':'planete_nom',
                        'pl_letter': 'planete_lettre',
                        'pl_discmethod':'methode',
                        'pl_orbper':'periode_jours',
                        'pl_bmassj':'planete_masse_J',
                        'pl_radj':'planete_rayon_J' ,
                        'pl_dens':'planete_density'})

In [17]:
#extract table from PDF
!pip install ghostscript
!pip install camelot-py
!pip install opencv-python

Requirement already satisfied: ghostscript in /home/eric/env/py311/lib/python3.11/site-packages (0.7)
Requirement already satisfied: setuptools>=38.6.0 in /home/eric/env/py311/lib/python3.11/site-packages (from ghostscript) (65.5.0)

[notice] A new release of pip is available: 23.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: camelot-py in /home/eric/env/py311/lib/python3.11/site-packages (0.11.0)
Requirement already satisfied: chardet>=3.0.4 in /home/eric/env/py311/lib/python3.11/site-packages (from camelot-py) (5.1.0)
Requirement already satisfied: click>=6.7 in /home/eric/env/py311/lib/python3.11/site-packages (from camelot-py) (8.1.3)
Requirement already satisfied: numpy>=1.13.3 in /home/eric/env/py311/lib/python3.11/site-packages (from camelot-py) (1.23.5)
Requirement already satisfied: openpyxl>=2.5.8 in /home/eric/env/py311/lib/python3.11/site-packages (from camelot-py) (3.0.10)
Requirement already satisfied: pandas>=0.23.4 in /home/eric/env/py311/lib/python3.11/site-packages (from camelot-py) (1.5.2)
Requirement already satisfied: pdfminer.six>=20200726 in /home/eric/env/py311/lib/python3.11/site-packages (from camelot-py) (20221105)
Requirement already satisfied: pypdf>=3.0.0 in /home/eric/env/py311/lib/python3.11/site-packages (from camelot-py) (3.8.1)
Requirement already satisfied: tabulate>=0.8.9 in /home/eric/env/py311/lib/python3.11/site-packages (from camelot-py) (0.9.0)
Requirement already satisfied: et-xmlfile in /home/eric/env/py311/lib/python3.11/site-packages (from openpyxl>=2.5.8->camelot-py) (1.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/eric/env/py311/lib/python3.11/site-packages (from pandas>=0.23.4->camelot-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/eric/env/py311/lib/python3.11/site-packages (from pandas>=0.23.4->camelot-py) (2022.7)
Requirement already satisfied: charset-normalizer>=2.0.0 in /home/eric/env/py311/lib/python3.11/site-packages (from pdfminer.six>=20200726->camelot-py) (2.1.1)
Requirement already satisfied: cryptography>=36.0.0 in /home/eric/env/py311/lib/python3.11/site-packages (from pdfminer.six>=20200726->camelot-py) (40.0.2)
Requirement already satisfied: cffi>=1.12 in /home/eric/env/py311/lib/python3.11/site-packages (from cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py) (1.15.1)
Requirement already satisfied: six>=1.5 in /home/eric/env/py311/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas>=0.23.4->camelot-py) (1.16.0)
Requirement already satisfied: pycparser in /home/eric/env/py311/lib/python3.11/site-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py) (2.21)

[notice] A new release of pip is available: 23.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Collecting opencv-python
  Downloading opencv_python-4.7.0.72-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (61.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.8/61.8 MB 5.3 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01m
Requirement already satisfied: numpy>=1.21.2 in /home/eric/env/py311/lib/python3.11/site-packages (from opencv-python) (1.23.5)
Installing collected packages: opencv-python
Successfully installed opencv-python-4.7.0.72

[notice] A new release of pip is available: 23.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

In [47]:
import camelot

tables1 = camelot.read_pdf('two.pdf', pages='1')
tables1
#<TableList n=1>

In [48]:
tables1.export('two_p1.csv', f='csv', compress=True)
tables1[0].to_csv('two_p1.csv')

In [49]:
#web scrapping
#XPath
#https://subslikescript.com/movie/titanic-120338

In [59]:

"""
    pl_hostname: Host Name
    pl_letter: Planet Letter
    pl_name: Planet Name
    pl_discmethod: Discovery Method
    pl_controvflag: Controversial Flag
    pl_pnum: Number of Planets in System
    pl_orbper: Orbital Period [days]
    pl_orbpererr1: Orbital Period Upper Unc. [days]
    pl_orbpererr2: Orbital Period Lower Unc. [days]
    pl_orbperlim: Orbital Period Limit Flag
    pl_orbsmax: Orbit Semi-Major Axis [AU])
    pl_orbsmaxerr1: Orbit Semi-Major Axis Upper Unc. [AU]
    pl_orbsmaxerr2: Orbit Semi-Major Axis Lower Unc. [AU]
    pl_orbsmaxlim: Orbit Semi-Major Axis Limit Flag
    pl_orbeccen: Eccentricity
    pl_orbeccenerr1: Eccentricity Upper Unc.
    pl_orbeccenerr2: Eccentricity Lower Unc.
    pl_orbeccenlim: Eccentricity Limit Flag
    pl_orbincl: Inclination [deg]
    pl_orbinclerr1: Inclination Upper Unc. [deg]
    pl_orbinclerr2: Inclination Lower Unc. [deg]
    pl_orbincllim: Inclination Limit Flag
    pl_bmassj: Planet Mass or M*sin(i) [Jupiter mass]
    pl_bmassjerr1: Planet Mass or M*sin(i) Upper Unc. [Jupiter mass]
    pl_bmassjerr2: Planet Mass or M*sin(i) Lower Unc. [Jupiter mass]
    pl_bmassjlim: Planet Mass or M*sin(i) Limit Flag
    pl_bmassprov: Planet Mass or M*sin(i) Provenance
    pl_radj: Planet Radius [Jupiter radii]
    pl_radjerr1: Planet Radius Upper Unc. [Jupiter radii]
    pl_radjerr2: Planet Radius Lower Unc. [Jupiter radii]
    pl_radjlim: Planet Radius Limit Flag
    pl_dens: Planet Density [g/cm**3]
    pl_denserr1: Planet Density Upper Unc. [g/cm**3]
    pl_denserr2: Planet Density Lower Unc. [g/cm**3]
    pl_denslim: Planet Density Limit Flag
    pl_ttvflag: TTV Flag
    pl_kepflag: Kepler Field Flag
    pl_k2flag: K2 Mission Flag
    pl_nnotes: Number of Notes
    ra_str: RA [sexagesimal]
    ra: RA [decimal degrees]
    dec_str: Dec [sexagesimal]
    dec: Dec [decimal degrees]
    st_dist: Distance [pc]
    st_disterr1: Distance Upper Unc. [pc]
    st_disterr2: Distance Lower Unc. [pc]
    st_distlim: Distance Limit Flag
    gaia_dist: Gaia Distance [pc]
    gaia_disterr1: Gaia Distance Upper Unc. [pc]
    gaia_disterr2: Gaia Distance Lower Unc. [pc]
    gaia_distlim: Gaia Distance Limit Flag
    st_optmag: Optical Magnitude [mag]
    st_optmagerr: Optical Magnitude Unc. [mag]
    st_optmaglim: Optical Magnitude Limit Flag
    st_optband: Optical Magnitude Band
    gaia_gmag: G-band (Gaia) [mag]
    gaia_gmagerr: G-band (Gaia) Unc. [mag]
    gaia_gmaglim: G-band (Gaia) Limit Flag
    st_teff: Effective Temperature [K]
    st_tefferr1: Effective Temperature Upper Unc. [K]
    st_tefferr2: Effective Temperature Lower Unc. [K]
    st_tefflim: Effective Temperature Limit Flag
    st_mass: Stellar Mass [Solar mass]
    st_masserr1: Stellar Mass Upper Unc. [Solar mass]
    st_masserr2: Stellar Mass Lower Unc. [Solar mass]
    st_masslim: Stellar Mass Limit Flag
    st_rad: Stellar Radius [Solar radii]
    st_raderr1: Stellar Radius Upper Unc. [Solar radii]
    st_raderr2: Stellar Radius Lower Unc. [Solar radii]
    st_radlim: Stellar Radius Limit Flag
    rowupdate: Date of Last Update
    pl_facility: Discovery Facility
"""

'\n    pl_hostname: Host Name\n    pl_letter: Planet Letter\n    pl_name: Planet Name\n    pl_discmethod: Discovery Method\n    pl_controvflag: Controversial Flag\n    pl_pnum: Number of Planets in System\n    pl_orbper: Orbital Period [days]\n    pl_orbpererr1: Orbital Period Upper Unc. [days]\n    pl_orbpererr2: Orbital Period Lower Unc. [days]\n    pl_orbperlim: Orbital Period Limit Flag\n    pl_orbsmax: Orbit Semi-Major Axis [AU])\n    pl_orbsmaxerr1: Orbit Semi-Major Axis Upper Unc. [AU]\n    pl_orbsmaxerr2: Orbit Semi-Major Axis Lower Unc. [AU]\n    pl_orbsmaxlim: Orbit Semi-Major Axis Limit Flag\n    pl_orbeccen: Eccentricity\n    pl_orbeccenerr1: Eccentricity Upper Unc.\n    pl_orbeccenerr2: Eccentricity Lower Unc.\n    pl_orbeccenlim: Eccentricity Limit Flag\n    pl_orbincl: Inclination [deg]\n    pl_orbinclerr1: Inclination Upper Unc. [deg]\n    pl_orbinclerr2: Inclination Lower Unc. [deg]\n    pl_orbincllim: Inclination Limit Flag\n    pl_bmassj: Planet Mass or M*sin(i) [Jupiter mass]\n    pl_bmassjerr1: Planet Mass or M*sin(i) Upper Unc. [Jupiter mass]\n    pl_bmassjerr2: Planet Mass or M*sin(i) Lower Unc. [Jupiter mass]\n    pl_bmassjlim: Planet Mass or M*sin(i) Limit Flag\n    pl_bmassprov: Planet Mass or M*sin(i) Provenance\n    pl_radj: Planet Radius [Jupiter radii]\n    pl_radjerr1: Planet Radius Upper Unc. [Jupiter radii]\n    pl_radjerr2: Planet Radius Lower Unc. [Jupiter radii]\n    pl_radjlim: Planet Radius Limit Flag\n    pl_dens: Planet Density [g/cm**3]\n    pl_denserr1: Planet Density Upper Unc. [g/cm**3]\n    pl_denserr2: Planet Density Lower Unc. [g/cm**3]\n    pl_denslim: Planet Density Limit Flag\n    pl_ttvflag: TTV Flag\n    pl_kepflag: Kepler Field Flag\n    pl_k2flag: K2 Mission Flag\n    pl_nnotes: Number of Notes\n    ra_str: RA [sexagesimal]\n    ra: RA [decimal degrees]\n    dec_str: Dec [sexagesimal]\n    dec: Dec [decimal degrees]\n    st_dist: Distance [pc]\n    st_disterr1: Distance Upper Unc. [pc]\n    st_disterr2: Distance Lower Unc. [pc]\n    st_distlim: Distance Limit Flag\n    gaia_dist: Gaia Distance [pc]\n    gaia_disterr1: Gaia Distance Upper Unc. [pc]\n    gaia_disterr2: Gaia Distance Lower Unc. [pc]\n    gaia_distlim: Gaia Distance Limit Flag\n    st_optmag: Optical Magnitude [mag]\n    st_optmagerr: Optical Magnitude Unc. [mag]\n    st_optmaglim: Optical Magnitude Limit Flag\n    st_optband: Optical Magnitude Band\n    gaia_gmag: G-band (Gaia) [mag]\n    gaia_gmagerr: G-band (Gaia) Unc. [mag]\n    gaia_gmaglim: G-band (Gaia) Limit Flag\n    st_teff: Effective Temperature [K]\n    st_tefferr1: Effective Temperature Upper Unc. [K]\n    st_tefferr2: Effective Temperature Lower Unc. [K]\n    st_tefflim: Effective Temperature Limit Flag\n    st_mass: Stellar Mass [Solar mass]\n    st_masserr1: Stellar Mass Upper Unc. [Solar mass]\n    st_masserr2: Stellar Mass Lower Unc. [Solar mass]\n    st_masslim: Stellar Mass Limit Flag\n    st_rad: Stellar Radius [Solar radii]\n    st_raderr1: Stellar Radius Upper Unc. [Solar radii]\n    st_raderr2: Stellar Radius Lower Unc. [Solar radii]\n    st_radlim: Stellar Radius Limit Flag\n    rowupdate: Date of Last Update\n    pl_facility: Discovery Facility\n'

In [61]:
csv_exo1

,pl_hostname,pl_letter,pl_name,pl_discmethod,pl_controvflag,pl_pnum,pl_orbper,pl_orbpererr1,pl_orbpererr2,pl_orbperlim,...,st_mass,st_masserr1,st_masserr2,st_masslim,st_rad,st_raderr1,st_raderr2,st_radlim,rowupdate,pl_facility
0,11 Com,b,11 Com b,Radial Velocity,0,1,326.030000,0.320000,-0.320000,0.0,...,2.70,0.30,-0.30,0.0,19.00,2.00,-2.00,0.0,2014-05-14,Xinglong Station
1,11 UMi,b,11 UMi b,Radial Velocity,0,1,516.219970,3.200000,-3.200000,0.0,...,2.78,0.69,-0.69,0.0,29.79,2.84,-2.84,0.0,2018-09-06,Thueringer Landessternwarte Tautenburg
2,14 And,b,14 And b,Radial Velocity,0,1,185.840000,0.230000,-0.230000,0.0,...,2.20,0.10,-0.20,0.0,11.00,1.00,-1.00,0.0,2014-05-14,Okayama Astrophysical Observatory
3,14 Her,b,14 Her b,Radial Velocity,0,1,1773.400020,2.500000,-2.500000,0.0,...,0.90,0.04,-0.04,0.0,0.93,0.01,-0.01,0.0,2018-09-06,W. M. Keck Observatory
4,16 Cyg B,b,16 Cyg B b,Radial Velocity,0,1,798.500000,1.000000,-1.000000,0.0,...,1.08,0.04,-0.04,0.0,1.13,0.01,-0.01,0.0,2018-09-06,Multiple Observatories
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4121,tau Gem,b,tau Gem b,Radial Velocity,0,1,305.500000,0.100000,-0.100000,0.0,...,2.30,0.30,-0.30,0.0,26.80,0.70,-0.70,0.0,2014-05-14,Lick Observatory
4122,ups And,b,ups And b,Radial Velocity,0,3,4.617033,0.000023,-0.000023,0.0,...,1.30,NaN,NaN,0.0,1.56,NaN,NaN,0.0,2019-01-31,Lick Observatory
4123,ups And,c,ups And c,Radial Velocity,0,3,241.258000,0.064000,-0.064000,0.0,...,1.30,NaN,NaN,0.0,1.56,NaN,NaN,0.0,2019-01-31,Multiple Observatories
4124,ups And,d,ups And d,Radial Velocity,0,3,1276.460000,0.570000,-0.570000,0.0,...,1.30,NaN,NaN,0.0,1.56,NaN,NaN,0.0,2019-01-31,Multiple Observatories
4125,xi Aql,b,xi Aql b,Radial Velocity,0,1,136.750000,0.250000,-0.250000,0.0,...,2.20,NaN,NaN,0.0,12.00,NaN,NaN,0.0,2014-05-14,Okayama Astrophysical Observatory

In [62]:
csv_exo2

,etoile_nom,planete_lettre,planete_nom,methode,pl_controvflag,pl_pnum,periode_jours,pl_orbpererr1,pl_orbpererr2,pl_orbperlim,...,st_mass,st_masserr1,st_masserr2,st_masslim,st_rad,st_raderr1,st_raderr2,st_radlim,rowupdate,pl_facility
0,11 Com,b,11 Com b,Radial Velocity,0,1,326.030000,0.320000,-0.320000,0.0,...,2.70,0.30,-0.30,0.0,19.00,2.00,-2.00,0.0,2014-05-14,Xinglong Station
1,11 UMi,b,11 UMi b,Radial Velocity,0,1,516.219970,3.200000,-3.200000,0.0,...,2.78,0.69,-0.69,0.0,29.79,2.84,-2.84,0.0,2018-09-06,Thueringer Landessternwarte Tautenburg
2,14 And,b,14 And b,Radial Velocity,0,1,185.840000,0.230000,-0.230000,0.0,...,2.20,0.10,-0.20,0.0,11.00,1.00,-1.00,0.0,2014-05-14,Okayama Astrophysical Observatory
3,14 Her,b,14 Her b,Radial Velocity,0,1,1773.400020,2.500000,-2.500000,0.0,...,0.90,0.04,-0.04,0.0,0.93,0.01,-0.01,0.0,2018-09-06,W. M. Keck Observatory
4,16 Cyg B,b,16 Cyg B b,Radial Velocity,0,1,798.500000,1.000000,-1.000000,0.0,...,1.08,0.04,-0.04,0.0,1.13,0.01,-0.01,0.0,2018-09-06,Multiple Observatories
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4121,tau Gem,b,tau Gem b,Radial Velocity,0,1,305.500000,0.100000,-0.100000,0.0,...,2.30,0.30,-0.30,0.0,26.80,0.70,-0.70,0.0,2014-05-14,Lick Observatory
4122,ups And,b,ups And b,Radial Velocity,0,3,4.617033,0.000023,-0.000023,0.0,...,1.30,NaN,NaN,0.0,1.56,NaN,NaN,0.0,2019-01-31,Lick Observatory
4123,ups And,c,ups And c,Radial Velocity,0,3,241.258000,0.064000,-0.064000,0.0,...,1.30,NaN,NaN,0.0,1.56,NaN,NaN,0.0,2019-01-31,Multiple Observatories
4124,ups And,d,ups And d,Radial Velocity,0,3,1276.460000,0.570000,-0.570000,0.0,...,1.30,NaN,NaN,0.0,1.56,NaN,NaN,0.0,2019-01-31,Multiple Observatories
4125,xi Aql,b,xi Aql b,Radial Velocity,0,1,136.750000,0.250000,-0.250000,0.0,...,2.20,NaN,NaN,0.0,12.00,NaN,NaN,0.0,2014-05-14,Okayama Astrophysical Observatory

In [64]:
csv_exo2.columns

Index(['etoile_nom', 'planete_lettre', 'planete_nom', 'methode',
       'pl_controvflag', 'pl_pnum', 'periode_jours', 'pl_orbpererr1',
       'pl_orbpererr2', 'pl_orbperlim', 'pl_orbsmax', 'pl_orbsmaxerr1',
       'pl_orbsmaxerr2', 'pl_orbsmaxlim', 'pl_orbeccen', 'pl_orbeccenerr1',
       'pl_orbeccenerr2', 'pl_orbeccenlim', 'pl_orbincl', 'pl_orbinclerr1',
       'pl_orbinclerr2', 'pl_orbincllim', 'planete_masse_J', 'pl_bmassjerr1',
       'pl_bmassjerr2', 'pl_bmassjlim', 'pl_bmassprov', 'planete_rayon_J',
       'pl_radjerr1', 'pl_radjerr2', 'pl_radjlim', 'planete_density',
       'pl_denserr1', 'pl_denserr2', 'pl_denslim', 'pl_ttvflag', 'pl_kepflag',
       'pl_k2flag', 'pl_nnotes', 'ra_str', 'ra', 'dec_str', 'dec',
       'etoile_distance_pc', 'st_disterr1', 'st_disterr2', 'st_distlim',
       'gaia_dist', 'gaia_disterr1', 'gaia_disterr2', 'gaia_distlim',
       'st_optmag', 'st_optmagerr', 'st_optmaglim', 'st_optband', 'gaia_gmag',
       'gaia_gmagerr', 'gaia_gmaglim', 'st_teff', 'st_tefferr1', 'st_tefferr2',
       'st_tefflim', 'st_mass', 'st_masserr1', 'st_masserr2', 'st_masslim',
       'st_rad', 'st_raderr1', 'st_raderr2', 'st_radlim', 'rowupdate',
       'pl_facility'],
      dtype='object')

In [68]:
csv_exo3 = csv_exo2[['methode','etoile_distance_pc','etoile_nom',
                     'planete_lettre','planete_nom','planete_rayon_J',
                     'planete_masse_J','periode_jours'
                    ]]
csv_exo3

,methode,etoile_distance_pc,etoile_nom,planete_lettre,planete_nom,planete_rayon_J,planete_masse_J,periode_jours
0,Radial Velocity,93.37,11 Com,b,11 Com b,NaN,19.4000,326.030000
1,Radial Velocity,125.72,11 UMi,b,11 UMi b,NaN,14.7400,516.219970
2,Radial Velocity,75.59,14 And,b,14 And b,NaN,4.8000,185.840000
3,Radial Velocity,17.94,14 Her,b,14 Her b,NaN,4.6600,1773.400020
4,Radial Velocity,21.15,16 Cyg B,b,16 Cyg B b,NaN,1.7800,798.500000
...,...,...,...,...,...,...,...,...
4121,Radial Velocity,112.64,tau Gem,b,tau Gem b,NaN,20.6000,305.500000
4122,Radial Velocity,13.41,ups And,b,ups And b,NaN,0.6876,4.617033
4123,Radial Velocity,13.41,ups And,c,ups And c,NaN,1.9810,241.258000
4124,Radial Velocity,13.41,ups And,d,ups And d,NaN,4.1320,1276.460000
4125,Radial Velocity,56.27,xi Aql,b,xi Aql b,NaN,2.8000,136.750000

In [69]:
pivot_table = csv_exo3.pivot_table(index='methode', columns='planete_masse_J', values='periode_jours',
                    aggfunc='sum')
pivot_table

planete_masse_J,0.00006,0.00021,0.00091,0.00129,0.00140,0.00195,0.00201,0.00210,0.00214,0.00236,...,23.70000,24.09000,24.50000,24.66200,26.77000,27.23000,28.50000,30.00000,33.70000,55.59000
methode,,,,,,,,,,,,,,,,,,,,,
Astrometry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,246.36,NaN,NaN,NaN
Disk Kinematics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Eclipse Timing Variations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,760.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Imaging,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN
Microlensing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Orbital Brightness Modulation,NaN,NaN,NaN,NaN,0.240104,NaN,NaN,0.342887,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pulsar Timing,25.262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pulsation Timing Variations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Radial Velocity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.96876,...,NaN,NaN,NaN,3184.83,14763.405,NaN,NaN,NaN,339.331,379.63
Transit,NaN,10.3126,7.814,4.04961,NaN,6.099615,23.0881,NaN,9.20669,NaN,...,NaN,NaN,NaN,NaN,NaN,1.217514,NaN,NaN,NaN,NaN
Transit Timing Variations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
#export pivot_table to excel
pivot_table.to_excel('pivot_table.xlsx','data_methode', startrow=4)

In [71]:
#create a bar chart with openpyxl
import openpyxl

In [84]:
from openpyxl import load_workbook
from openpyxl.chart import BarChart, Reference  

wb = load_workbook('pivot_table.xlsx')
sheet = wb['data_methode']

min_column = wb.active.min_column
max_column = wb.active.max_column
min_row = wb.active.min_row
max_row = wb.active.max_row
print("columns MIN: ", min_column, " - MAX: ", max_column )
print("rows    MIN: ", min_row, " - MAX: ", max_row )

columns MIN:  1  - MAX:  1124
rows    MIN:  5  - MAX:  16

In [91]:
barchart = BarChart()

data = Reference(sheet,min_col=min_column+1,max_col=max_column,min_row=min_row,max_row = max_row)

categories=Reference(sheet,min_col=min_column,max_col=min_column,min_row=min_row+1,max_row=max_row)

barchart.add_data(data, titles_from_data = True)
barchart.set_categories(categories)

sheet.add_chart(barchart, "B30")

barchart.title = "exoplanet methods"
barchart.style = 5
wb.save("barchart.xlsx")

In [92]:
#Excel Formulas