In [1]:
import pandas as pd
import numpy as np

In [2]:
#TCD ou PIVOT TABLE avec PANDAS

In [6]:
sample = pd.read_csv("Sample.csv", sep=",")

In [7]:
sample.head()

,Order Date,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
0,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,41.9136
1,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,219.5820
2,6/12/2016,Darrin Van Huff,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,6.8714
3,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,-383.0310
4,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,2.5164